@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Fauna+One&display=swap');

.BrowseContainer {
    width: 100%;
    height: 100%;
    background-color: #393939;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.BrowseTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2595A5;
}

.BrowseTitle h1 {
    color: #E9E9E9;
    font-family: 'Cinzel', serif;
    font-size: 2.5rem;
    padding: 50px 0;
    margin: 0;
}

.BrowseFilters {
    height: 100%;
    width: 100%;
    padding: 20px 100px;
    background-color: #303030;
}

.FilterTitle h2 {
    color: #E9E9E9;
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    margin: 0;
}

.TopFilters {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    gap: 20px;
}

.PriceFilter {
    width: 33%;
}

.PropertyTypeFilter {
    width: 33%;
}

.PropertyStatusFilter {
    width: 33%;
}

.BottomFilters {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.BottomFiltersCont {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.BathroomFilter {
    width: 50%;
}

.BedroomFilter {
    width: 50%;
}

/* Form Inputs */
.formInput {
    position: relative;
    width: 100%;
}

.form-control{
    width: 100%;
    height: 45px;
    padding: 0px 20px;
    border-radius: 500px;
    border: none;
    margin: 0;
    color: #E9E9E9;
    background-color: #393939;
    font-family: "Fauna One", serif;
    font-size: 1.438rem;
    box-shadow:
        inset 0px 1px 3px rgba(93, 93, 93, 0.5),
        0px 4px 4px 0px rgba(0, 0, 0, 0.5),
        0px 4px 4px 0px #3F3F3F;
    transition: background-color 0.3s ease, font-size 0.3s ease;
}

.formInput .form-control {
    width: 100%;
    height: 45px;
    padding: 0px 20px;
    border-radius: 500px;
    border: none;
    margin: 0;
    color: #E9E9E9;
    background-color: #393939;
    font-family: "Fauna One", serif;
    font-size: 1.438rem;
    box-shadow:
        inset 0px 1px 3px rgba(93, 93, 93, 0.5),
        0px 4px 4px 0px rgba(0, 0, 0, 0.5),
        0px 4px 4px 0px #3F3F3F;
    transition: background-color 0.3s ease, font-size 0.3s ease;
}

.formInput .form-control::placeholder {
    color: rgba(233, 233, 233, 0.6);
    margin: 0;
    font-size: 1.438rem;
    font-family: "Fauna One", serif;
    padding: 0;
}

.formInput .form-control:focus {
    background-color: #2c2c2c;
    color: #E9E9E9;
    font-size: 1.438rem;
    outline: none;
    box-shadow:
        inset 0px 1px 3px rgba(93, 93, 93, 0.5),
        0px 4px 4px 0px rgba(0, 0, 0, 0.5),
        0px 4px 4px 0px #3F3F3F;
}

.PropertyStatusFilter .form-select,
.PropertyTypeFilter .form-select {
    width: 100%;
    height: 45px;
    padding: 0px 20px;
    border-radius: 500px;
    border: none;
    margin: 0;
    color: #E9E9E9;
    background-color: #393939;
    font-family: "Fauna One", serif;
    font-size: 1.438rem;
    box-shadow:
        inset 0px 1px 3px rgba(93, 93, 93, 0.5),
        0px 4px 4px 0px rgba(0, 0, 0, 0.5),
        0px 4px 4px 0px #3F3F3F;
    transition: background-color 0.3s ease, font-size 0.3s ease;
}

.PropertyStatusFilter .form-select:focus,
.PropertyTypeFilter .form-select:focus {
    background-color: #2c2c2c;
    color: #E9E9E9;
    font-size: 1.438rem;
    outline: none;
    box-shadow:
        inset 0px 1px 3px rgba(93, 93, 93, 0.5),
        0px 4px 4px 0px rgba(0, 0, 0, 0.5),
        0px 4px 4px 0px #3F3F3F;
}

.PriceFilter .form-range {
    width: 100%;
    height: 45px;
    padding: 0px 20px;
    border-radius: 500px;
    border: none;
    margin: 0;
    background-color: #393939;
    box-shadow:
        inset 0px 1px 3px rgba(93, 93, 93, 0.5),
        0px 4px 4px 0px rgba(0, 0, 0, 0.5),
        0px 4px 4px 0px #3F3F3F;
    transition: background-color 0.3s ease;
    -webkit-appearance: none;
    appearance: none;
}

.PriceFilter .form-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #E9E9E9;
    cursor: pointer;
    box-shadow:
        0px 4px 4px 0px rgba(0, 0, 0, 0.5),
        0px 4px 4px 0px #3F3F3F;
    margin-top: -8.5px;
}

.PriceFilter .form-range::-moz-range-thumb,
.PriceFilter .form-range::-ms-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #E9E9E9;
    cursor: pointer;
    box-shadow:
        0px 4px 4px 0px rgba(0, 0, 0, 0.5),
        0px 4px 4px 0px #3F3F3F;
    margin-top: -8px;
}

.PriceFilter .form-range:focus {
    outline: none;
    background-color: #2c2c2c;
}

.form-label {
    font-family: 'Cinzel', serif;
    font-size: 1.1rem;
    color: #E9E9E9;
}

.submitButton {
    padding: 15px 20px;
    background-color: #2595A5;
    border: none;
    border-radius: 500px;
    box-shadow:
        inset 0px 3px 5px rgba(52, 209, 230, 0.5),
        0px 5px 5px 0px rgba(0, 0, 0, 0.5),
        0px 5px 5px 0px #3F3F3F;
    color: #E9E9E9;
    font-family: 'Cinzel', serif;
    font-size: 1.1rem;
    margin: 0;
    text-align: end;
}

.submitButton:hover {
    background-color: #1d7d8a;
    box-shadow:
        inset 0px 3px 6px rgba(52, 209, 230, 0.6),
        0px 6px 8px 0px rgba(0, 0, 0, 0.6),
        0px 6px 8px 0px #2F2F2F;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.FilterSubmitButton {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 100%;
}

.CardContainer {
    padding: 20px 100px ;
}

.PropertyCard {
    background-color: #303030;
    border-radius: 10px;
    overflow: hidden;
    color: #E9E9E9;
    box-shadow:
        inset 0px 1px 3px rgba(93, 93, 93, 0.5),
        0px 4px 4px 0px rgba(0, 0, 0, 0.5),
        0px 4px 4px 0px #3F3F3F;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.PropertyCard:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.PropertyImage {
    height: 250px;
    object-fit: cover;
}

.PropertyDetails {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.PropertyTitle {
    font-family: 'Cinzel', serif;
    font-size: 1.3rem;
    color: #E9E9E9;
    padding: 10px 0;
}

.PropertyType, .PropertyFeatures {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 20px;
}

.PropertyPrice, .YearBuilt{
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px 20px;
}

.PropertyButton {
    width: 100%;
    padding: 10px;
    background-color: #2595A5;
    border: none;
    border-radius: 5px;
    color: #E9E9E9;
    font-size: 1rem;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.PropertyButton:hover {
    background-color: #1f7a8b;
}

.pagination {
    margin-top: 20px;
}

.pagination .page-item.active .page-link {
    background-color: #2595A5;
    border-color: #2595A5;
}

.pagination .page-link {
    color: #2595A5;
}

.pagination .page-link:hover {
    background-color: #1f7a8b;
    border-color: #1f7a8b;
    color: #ffffff;
}